.info-crypto {
  &__title {
    @include title-m;
    margin-bottom: 16px;
    display: flex;
  }
  &__container {
    margin: auto;
  }
  &__container-table {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    padding: 8px;
    &-info {
      text-align: center;
    }
  }
  &__page {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  &__btn {
    @include btn-pagination;
  }
  &__input-text {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
  }
  &__search {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
}
