tbody {
  tr {
    height: 44px;
    background-color: $ligth-green;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
  tr:nth-child(2n + 1) {
    background-color: $white;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

thead {
  tr {
    height: 56px;
    background-color: $dark-green;
    color: white;
    @include title-m;
  }
}

th,
td {
  width: 180px;
  text-align: initial;
  padding: 10px;
  text-align: center;
}
